<div class="container grid">

  <div class="cont-logo col-2">
    <img src="./../../../assets/images/logo.png" alt="logo">
  </div>

  <div class="cont-data-menu col-10 pl-3">

    <div class="cont-data-action grid">
      <div class="app-name col-4">
        <p>Supervisor App</p>
      </div>
      <div class="data col">
        <p><i class="pi pi-user mr-3" style="font-size: 1rem"></i>Ildefonso Valenzuela Lopez</p>
      </div>
      <div class="action col-2">
        <div class="logout-btn px-2">
          <p><i class="pi pi-sign-out mr-3" style="font-size: 1rem"></i>Cerrar Sesion</p>
        </div>
      </div>
    </div>

    <nav class="cont-menu-bar">
      <p>|</p>
      <div class="menu-item px-4 py-1 mr-2">
        <a href="#">Home</a>
      </div>
      <p>|</p>
      <div class="menu-item px-4 py-1 mr-2">
        <a href="#">Indicadores</a>
      </div>
      <p>|</p>
      <div class="menu-item px-4 py-1 mr-2">
        <a href="#">Impresion</a>
      </div>
      <p>|</p>

    </nav>

  </div>

</div>
