<div class="container">

  <div class="header">
    <div class="title">
      <h3>Plantillas</h3>
    </div>
    <div class="actions">
      <p-button icon="pi pi-file-import" label="Importar desde *.csv"
                outlined="true"
                raised="true" />
      <p-button icon="pi pi-file-export" label="Exportar"
                outlined="true"
                raised="true" />
    </div>
  </div>



  <div class="filtros">
    <!-- TODO
     Filtros para partidas - dispositivos - tipos -->
  </div>

  <div class="search">
    <div class="field">
      <label for="firstname1">Search</label>
      <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <button class="p-button"> Agregar +1 </button>
  <div class="content">

  </div>

</div>
