.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header{
  height: 100px;
}

main{
}

footer{
  height: 50px;
}

/* Para hacer el header tomar en cuenta el grid template para columnas indicando
como se alinean las cosas */
