.container {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header{
  min-height: 100px;
}

main{
  display: grid;
  grid-template-columns: 1fr 5fr;
}


footer{
  border: 1px solid green;
  height: 50px;
}

/* Para hacer el header tomar en cuenta el grid template para columnas indicando
como se alinean las cosas */
